body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.ui-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1; /* Ensure UI is above the canvas */
}

.ui-slider {
  margin-bottom: 10px;
}
